<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#4285f4">

    <meta charset="utf-8">   

  <!-- Optional theme -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/lib/jquery.js"> </script>
    <script src="js/lib/underscore.js"></script>
   
    <!--bootstrap-->

    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.2.10/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.9/angular-animate.js"></script>
    <script src="js/lib/animate.js"></script>
    <script src="js/lib/angular-dropdowns.js"></script>
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>

    <title>Karma</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Paper CSS here -->
    <link href="css/ripples.min.css" rel="stylesheet">
    <link href="css/material-wfont.min.css" rel="stylesheet">

</head>

<body unresolved ng-app="myApp" ng-controller="MyController">

    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand large-font" href="#">Karma Board</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">

        <form class="navbar-form navbar-left">
          <input class="form-control col-lg-4" ng-model='msg' ng-keydown="getGroup($event)" type='text' id='messageInput'  placeholder='Chat name...'>
        </form>
      </div>
    </div>

    <ul id='example-messages' class='example-chat-messages'>

      <div ng-repeat='usr in chat.users'>
        <a href="#" class="btn btn-primary btn-raised standard-width">{{usr.name}}</a>
        <a href="#" class="btn btn-default btn-raised"><strong>{{usr.karma}}</strong></a>
      </div>
    </ul>
    <script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller('MyController', ['$scope', '$firebase',
        function($scope, $firebase) {
            var ref = new Firebase("https://vh7i8ybyrmd.firebaseio-demo.com/");
            var ChatsRef = new Firebase("https://resplendent-torch-4535.firebaseio.com/");
            $scope.messages = $firebase(ref).$asArray();

          //ADD GET GROUP METHOD
            $scope.getGroup = function(e) {

                //LISTEN FOR RETURN KEY
                if ($scope.msg) {
                    var searchString = $scope.msg.toUpperCase();
                    var sync = $firebase(ChatsRef.child("groups").child(searchString));
                    var chatObject = sync.$asObject();
                    $scope.chat = chatObject;           
                }
            }
        }
      ]);
    </script>

    <style>
        .standard-width {
            width: 150;
        } 

        .btn {
            margin-bottom: 5px;
        }

        .large-font {
            font-size: 27px;
        }
    </style>

    <!-- Paper Design -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="js/ripples.min.js"></script>
        <script src="js/material.min.js"></script>
        <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>

</body></html>